@model List<bitirmeMVC5.Models.Poliklinik>


<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">
  
    <title> medicare.poliklinikler </title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
  
  </head>
  
  <body class="sub_page">
  
    <div class="hero_area">
  
      <div class="hero_bg_box">
        <img src="images/hero-bg.png" alt="">
      </div>
  
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              <span>
                MEDICARE
              </span>
            </a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Ana Sayfa </a>
                </li>
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
  
    <!-- department section -->
  
    <section class="department_section layout_padding">
      <div class="department_container">
        <div class="container ">
          <div class="heading_container heading_center">
            <h2>
              Polİklİnİkler
            </h2>
                    <div class="panel">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Poliklinik Adı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var poliklinik in Model)
                                {
                                    <tr>
                                        <td>@poliklinik.ID</td>
                                        <td>@poliklinik.PoliklinikAdi</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end department section -->
  
    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 footer_col">
            <div class="footer_contact">
              <h4>
                Bize ulaşın..
              </h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Adres
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Telefon Numarası: +90 534 915 9210
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    fatmaerdogan622@gmail.com
                  </span>
                </a>
              </div>
            </div>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 footer_col">
            <div class="footer_detail">
              <h4>
                Hakkımızda
              </h4>
              <p>
                "MediProCare Sağlık Yatırımları A.Ş. sağlık alanında ileri teknolojiye ve insan odaklı yaklaşıma dayanan yenilikçi bir anlayışla, topluma kaliteli ve erişilebilir sağlık hizmetleri sunmaya adanmıştır. Sağlığınızı bize güvenle emanet edin."
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 mx-auto footer_col">
            <div class="footer_link_box">
              <h4>
                Göz atın..
              </h4>
              <div class="footer_links">
                <a class="" href="departments.html">
                  Polikliniklerimiz
                </a>
                <a class="" href="doctors.html">
                  Doktorlarımız
                </a>
                <a class="" href="contact.html">
                  Giriş Yap
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 footer_col ">
            <h4>
              Bülten
            </h4>
            <form action="#">
              <input type="email" placeholder="e posta adresiniz" />
              <button type="submit">
                Abone ol
              </button>
            </form>
          </div>
        </div>
        <div class="footer-info">
          <p>
            &copy; <span id="displayYear"></span> Tüm hakları
            <a href="">MediProCare Sağlık Yatırımları A.Ş </a>
            <span id="displayYear"></span> tarafından saklıdır.
            <br><br></a>
            &copy;
              <a href="https://themewagon.com/">Soft4U Ltd. Şti. </a>
              <span id="displayYear"></span> tarafından dağıtılmıştır.           
          </p>      
        </div>  
      </div>
    </footer>
    <!-- footer section -->  
  </body>
  
</html>