<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yönetim Paneli</title>
    <link rel="stylesheet" href="~/css/personel_ekranı.css">
    <link rel="stylesheet" href="~/css/header.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="~/Home/Index">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="~/Home/Index">Anasayfa</a></li>
                    <li><a href="~/Home/Contact">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Doktor Paneli</h1>
        <br>
        <div class="entry-options">
            <div class="entry-option">
                <a href="~/Home/ReçeteOluştur">Reçete Oluştur</a>
            </div>
            <div class="entry-option">
                <a href="~/Home/RandevularımaBak">Randevularıma Bak</a>
            </div>
            <div class="entry-option">
                <a href="~/Home/SevkKaydıOluştur">Sevk Kaydı oluştur</a>
            </div>
            <div class="entry-option">
                <a href="~/Home/AmeliyatTarihi">Ameliyat Tarihi Belirle</a>
            </div>
        </div>
    </div>
</body>
</html>