@page
@model bitirmeMVC5.Models.Doktor

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meditech.kayıt.ol</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/hesap_olusturma.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/randevu_al.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="~/Home/Index">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="~/Home/Index">Anasayfa</a></li>
                    <li><a href="~/Home/Contact">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="login__content">
            <img src="~/images/hero-bg_2.png" alt="login image" class="login__img">

            <form action="/Home/DoktorEkle" method="post" class="login__form">
                <div>
                    <h1 class="login__title">
                        <span>Doktor</span> Ekle
                    </h1>
                </div>

                <div class="login__inputs">
                    <div class="form-group">
                        <div class="form-item">
                            <label for="fullname">Tam Ad:</label>
                            <input class="login__input" type="text" id="fullname" name="fullname" required placeholder="İsim - Soyisim ">
                        </div>
                        <div class="form-item">
                            <label for="tckn">TC Kimlik No:</label>
                            <input class="login__input" type="text" id="tckn" name="tckn" required placeholder="T.C. Kimlik numaranız ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-item">
                            <label for="email">E-posta:</label>
                            <input class="login__input" type="email" id="email" name="email" required placeholder="E-Posta adresiniz">
                        </div>
                        <div class="form-item">
                            <label for="phone">Telefon Numarası:</label>
                            <input class="login__input" type="tel" id="phone" name="phone" required placeholder="Telefon numaranız ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-item">
                            <label for="gender">Cinsiyet:</label>
                            <select id="gender" name="gender" required class="login__input">
                                <option value="">Seçiniz</option>
                                <option value="male">Erkek</option>
                                <option value="female">Kadın</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="poliklinikId">Poliklinik:</label>
                            <select id="poliklinikId" name="poliklinikId" required class="login__input">
                                <option value="" selected disabled>Poliklinik Seçin</option>
                                @foreach (var poliklinik in ViewBag.Poliklinikler)
                                {
                                    <option value="@poliklinik.ID">@poliklinik.PoliklinikAdi</option>
                                }
                            </select>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="form-item">
                            <label for="password">Parola:</label>
                            <input class="login__input" type="password" id="password" name="password" required placeholder="Parolanızı giriniz">
                        </div>
                        <div class="form-item">
                            <label for="confirm_password">Parola (Tekrar):</label>
                            <input class="login__input" type="password" id="confirm_password" name="confirm_password" required placeholder="Parolanızı doğrulayın ">
                        </div>
                    </div>
                </div>
                <div class="login__buttons">
                    <button type="submit" class="login__button">Doktoru Kaydet</button>
                </div>
            </form>
        </div>
    </div>
    <!-- MAİN JS -->
    <script src="~/js/hesap_oluşturma.js"></script>
    <script src="~/js/randevu_al.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Home/GetPoliklinikler',
                method: 'GET',
                success: function (data) {
                    var dropdown = $('#department');
                    dropdown.empty();
                    dropdown.append('<option selected="true" disabled>Poliklinik Seçin</option>');
                    $.each(data, function (key, entry) {
                        dropdown.append($('<option></option>').attr('value', entry.id).text(entry.name));
                    });
                },
                error: function () {
                    console.error("Poliklinikleri yüklerken bir hata oluştu.");
                }
            });
        });
    </script>
</body>
</html>
