<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- REMIXICONS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/hesap_olusturma.css">
    <link rel="stylesheet" href="~/css/header.css">
    <!-- Bu Başlık sadece -->
    <title>meditech.kayıt.ol</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="login__content">
            <img src="~/images/hero-bg_2.png" alt="login image" class="login__img">

            <form action="/Home/HesapOluşturma" method="post" class="login__form">
                <div>
                    <h1 class="login__title">
                        <span>Kayıt</span> Ol
                    </h1>
                    <p class="login__description">                        
                    </p>
                </div>
                
                <div>
                    <div class="login__inputs">
                        <div class="form-group">
                            <div class="form-item">
                                <label for="fullname">Tam Ad:</label>
                                <input class="login__input" type="text" id="fullname" name="fullname" required placeholder="İsim - Soyisim ">
                            </div>
                            <div class="form-item">
                                <label for="tckn">TC Kimlik No:</label>
                                <input class="login__input" type="text" id="tckn" name="tckn" required placeholder="T.C. Kimlik numaranız ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item">
                                <label for="email">E-posta:</label>
                                <input class="login__input" type="email" id="email" name="email" required placeholder="E-Posta adresiniz">
                            </div>
                            <div class="form-item">
                                <label for="phone">Telefon Numarası:</label>
                                <input class="login__input" type="tel" id="phone" name="phone" required placeholder="Telefon numaranız ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item">
                                <label for="gender">Cinsiyet:</label>
                                <select id="gender" name="gender" required class="login__input">
                                    <option value="">Seçiniz</option>
                                    <option value="male">Erkek</option>
                                    <option value="female">Kadın</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-item">
                                <label for="password">Parola:</label>
                                <input class="login__input" type="password" id="password" name="password" required placeholder="Parolanızı giriniz">
                            </div>
                            <div class="form-item">
                                <label for="confirm_password">Parola (Tekrar):</label>
                                <input class="login__input" type="password" id="confirm_password" name="confirm_password" required placeholder="Parolanızı doğrulayın ">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="login__buttons">
                        <button class="login__button">Kayıt Ol</button>                       
                   
                    </div>
                </div>
            </form>
        </div>
    </div>  
    <!-- MAİN JS -->
    <script src="~/js/hesap_oluşturma.js"></script>
</body>
</html>