<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yönetim Paneli</title>
    <link rel="stylesheet" href="~/css/personel_ekranı.css">
    <link rel="stylesheet" href="~/css/header.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Yönetim Paneli</h1>
        <br>
        <div class="entry-options">
            <div class="entry-option">
                <a href="doktor_ekle.html">Doktor Ekle</a>
            </div>
            <div class="entry-option">
                <a href="personel_ekle.html">Personel Ekle</a>
            </div>
            <div class="entry-option">
                <a href="poliklinik_ekle.html">Poliklinik Ekle</a>
            </div>
        </div>
    </div>
</body>
</html>
