<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- REMIXICONS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/giris_ekranlari.css">
    <link rel="stylesheet" href="~/css/header.css">

    <title>meditech.personel.girisi</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="login__content">
            <img src="~/images/hero-bg_2.png" alt="login image" class="login__img">

            <form asp-action="PersonelGirişi" method="post" class="login__form">
                <div>
                    <h1 class="login__title">
                        <span>Personel</span> Girişi
                    </h1>
                    <p class="login__description">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <span style="color:red">@ViewBag.ErrorMessage</span>
                        }
                    </p>
                </div>

                <div>
                    <div class="login__inputs">
                        <div>
                            <label for="input-email" class="login__label">Personel E-Posta Adresi</label>
                            <input type="email" name="email" placeholder="E-postanızı giriniz" required class="login__input" id="input-email">
                        </div>

                        <div>
                            <label for="input-pass" class="login__label">Parola</label>

                            <div class="login__box">
                                <input type="password" name="password" placeholder="Parolanızı giriniz" required class="login__input" id="input-pass">
                                <i class="ri-eye-off-line login__eye" id="input-icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="login__check">
                        <input type="checkbox" class="login__check-input" id="input-check">
                        <label for="input-check" class="login__check-label">Giriş Bilgilerini Kaydet</label>
                    </div>
                </div>

                <div>
                    <div class="login__buttons">
                        <button type="submit" class="login__button">Giriş Yap</button>
                        <!-- <button class="login__button login__button-ghost">Sign Up</button> -->
                    </div>

                    <a href="sifremi_unuttum.html" class="login__forgot">Şifremi Unuttum</a>
                </div>
            </form>
        </div>
    </div>


    <!-- MAİN JS -->
    <script src="~/js/giriş_ekranlari.js"></script>

</body>
</html>