<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/hesap_olusturma.css">
    <link rel="stylesheet" href="~/css/header.css">
    <!-- Bu Başlık sadece -->
    <title>Şifremi Unuttum</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="login__content">
            <img src="~/images/hero-bg_2.png" alt="login image" class="login__img">
            <form action="/Home/PoliklinikEkle" method="post" class="login__form">
                <div>
                    <h1 class="login__title">
                        <span>Poliklinik</span> Ekle
                    </h1>
                </div>
                <div>
                    <div class="login__inputs">
                        <div class="form-item">
                            <label for="poliklinikAdi">Poliklinik Adı:</label>
                            <br>
                            <br>
                            <input class="login__input" type="text" id="poliklinikAdi" name="poliklinikAdi" required placeholder="Eklenecek poliklinik">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="login__buttons">
                        <button class="login__button" type="submit">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
