<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu Sistemi</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/randevu.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main-container">
        <h1 class="main-title">Randevu Sistemi</h1>
        <div class="button-container">
            <a href="randevu_al.html" class="main-button">Randevu Al</a>
            <a href="randevu_iptal.html" class="main-button">Randevuyu İptal Et</a>
        </div>
    </div>

</body>
</html>
