<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu İptal Sayfası</title>
    <link rel="stylesheet" href="~/css/randevu_iptal.css">
    <link rel="stylesheet" href="~/css/header.css">
</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <h1>Randevu İptal Sayfası</h1>
    <div class="container">
        <div class="randevu__content" id="randevular">
            <!-- Randevular burada dinamik olarak oluşturulacak -->
        </div>
    </div>

    <script src="~/js/randevu_iptal.js"></script>
</body>

</html>
