<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu Sistemi</title>
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/randevu.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="~/Home/Index">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="~/Home/Index">Anasayfa</a></li>
                    <li><a href="~/Home/Contact">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main-container">
        <h1 class="main-title">Randevu Sistemi</h1>
        <div class="button-container">
            <a href="~/Home/RandevuAl" class="main-button">Randevu Al</a>
            <a href="~/Home/RandevuIptal" class="main-button">Randevularım</a>
        </div>
    </div>

</body>
</html>
