<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/randevu_al.css">
    <script src="js/jspdf.min.js" charset="utf-8"></script>
    <title>Randevu Al</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="randevu__content">
            <img src="images/hero-bg_2.png" alt="randevu image" class="randevu__img">
            <form action="#" class="randevu__form" id="randevuForm">
                <div>
                    <h1 class="randevu__title">
                        <span>Sevk</span> Oluştur
                    </h1>
                </div>
                <div class="randevu__inputs">
                    <div class="form-group">
                        <div class="form-item">
                            <label for="patientName">Hasta Adı:</label>
                            <input class="randevu__input" type="text" id="patientName" name="patientName">
                        </div>
                        <div class="form-item">
                            <label for="patientID">Hasta Kimlik Numarası:</label>
                            <input class="randevu__input" type="text" id="patientID" name="patientID">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-item">
                            <label for="destination">Yönlendirilen Yer:</label>
                            <input class="randevu__input" type="text" id="destination" name="destination">
                        </div>
                        <div class="form-item">
                            <label for="doctor">Yönlendiren Doktor:</label>
                            <input class="randevu__input" type="text" id="doctor" name="doctor">
                        </div>
                    </div>
                    <div class="form-group-2">
                        <div class="form-item">                           
                            <label for="reason">Sevk Nedeni:</label>
                            <textarea class="randevu__input" id="reason" name="reason" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="randevu__buttons">
                    <button id="btn-generate-pdf" class="randevu__button" type="submit">Sevk Raporunu Oluştur</button>
                </div>
            </form>
        </div>
    </div>  
    <script src="js/sevk_kaydı_oluştur.js"></script>
</body>
</html>
